body{
    font-family: "Ubuntu" "Open Sans";
}

.card-img-top{
    height: 500px;
}

.card-body p{
    font-size: 25px;
}

li{
    color:#3C4A58 ;
}

li:hover{
    color: #6C7B87;
}


.col-12 h2{
    color:#1E2226
}


