*{
    font-family: "Ubuntu" ;
    background-color: #E2D1C1;
}

.card-img-top{
    height: 500px;
    
}

.card-img-top{
    color: white;
}


.card-body p{
    font-size: 25px;
}

li{
    color:#3C4A58 ;
}

li:hover{
    color: #6C7B87;
}


.col-12 h2{
    color:#1E2226
}

.add-btn{
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    border-color: transparent;
    font-size: 20px;
}

.list-unstyled a{
    color: black;
}


.card-title a{
    color: white;
    font-size: 40px;
}

.card-title{
    background-color: black;
}



.card-body{
    color: white;
    background-color: black;
}

.card{
    border-color: black;
}

 .card-body, .card-title{
    background-color: #E2D1C1;
}
